.logo{
  grid-area: logo;
  font-size: var(--font-size-xlarge);
  font-weight: bold;
  color: var(--accent_color);
}

.slogan{
  grid-area:slogan;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  color:var(--accent_color);

}
.auth{
    grid-area: auth;
}
