:root {
  position: relative;
  display: grid;
  grid-template-areas: 
  "market body market";
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 0 10%;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0);

  background-image: url('../public/img/jpg/kosmos.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size-small: clamp(0.8rem, 1.5vw, 1rem);
  --font-size-base: clamp(1.2rem, 2vw, 2rem);
  --font-size-medium: clamp(1.5rem, 2vw, 4.5rem);
  --font-size-large: clamp(2.5rem, 5vw, 10rem);
  --font-size-xlarge: clamp(5rem, 10vw, 20rem);
  --header-height: clamp(198px, 20vh, 800px);
  --header-font-size: clamp(3rem, 8vw, 16.5rem);
  --header-padding: clamp(1rem, 2vw, 10rem);

  --spacing-small: clamp(0.5rem, 1vw, 1rem);
  --spacing-medium: clamp(1rem, 2vw, 1.5rem);
  --spacing-large: clamp(1.5rem, 3vw, 2.5rem);
  --spacing-xlarge: clamp(2rem, 4vw, 3.5rem);

  --text_color: rgb(75, 75, 75);
  --accent_color: rgb(138, 46, 76);
  --h2_color: rgb(75, 75, 75);
  --logo_color: rgba(0, 0, 0, 1);
  --button_back: #dbbe7b;
  --button_back_hover: rgba(243, 204, 120,1);
  --button_text: rgba(75, 75, 75);
  --bck-color: rgba(245, 245, 245, 0.4);

  /* --pages_body_color: rgb(255, 255, 255); */

  /* --text_color:rgba(55, 135, 85, 0.8);
  --card_back:rgba(184, 230, 207, 0.9);
  --card_shadow:rgba(55, 135, 85, 0.8);
  --card_shadow_hover:rgba(35, 100, 57, 0.8); */


  --text_color: rgba(135, 64, 55, 0.8);
   --card_back:rgba(230, 184, 199, 0.9);
  --card_shadow:rgba(135, 64, 55, 0.8);
  --card_shadow_hover:rgba(100, 35, 78, 0.8);
}

* {
  box-sizing: border-box;
    /* border: 1px solid green; */
}

.root_back{
  position:absolute;
  background-image: url('../public/img/jpg/kosmos.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  background-color:var(--bck-color);
}

a {
  font-weight: 500;
  color: var(--logo_color);
  text-decoration: none;
}

a:hover {
  color: var(--logo_color);
}

h1 {
  font-size: 3.2em;
  margin: 0;
}

h2 {
  color: var(--h2_color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--button_back_hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

li,
a {
  text-decoration: none;
  list-style: none;
}

p, ul {
  margin: 0;
  padding: 0;
}
